* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.cards {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.card {
  width: 250px;
  height: 500px;
  position: absolute;
  transform: rotate(calc(85deg / 6 * var(--i)));
  transform-origin: bottom;
  rotate: -35deg;
  left: calc(35% - -25px * var(--i));
  background: var(--bg);
}
